# Override some Flash defaults


# by providing new partition table in "partitions_flash_tone.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_flash_tone.csv"

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
