CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_TASK_WDT_INIT=n

CONFIG_ESP_PLAYER_ENABLE_AUDIO=y
CONFIG_ESP_PLAYER_ENABLE_VIDEO=n
CONFIG_ESP_PLAYER_ENABLE_HLS_IO=n

# Dummy SRC for `start link` (looping pattern AAC, no extra SD files).
CONFIG_ESP_MEDIA_DUMMY_SERVICE_SRC_SUPPORT=y

CONFIG_SPIRAM=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_OFFSET=0x9000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_CONSOLE_UART=y
CONFIG_FATFS_LFN_HEAP=y
