#
# Example Configuration
#
CONFIG_EXAMPLE_LED_TX_CHANNEL=0
CONFIG_EXAMPLE_LED_CTRL_IO=7
CONFIG_EXAMPLE_TOTAL_LEDS=30
CONFIG_EXAMPLE_AUDIO_SAMPLE=16000
CONFIG_EXAMPLE_N_SAMPLE=256
CONFIG_EXAMPLE_MIN_SOUND_ENERGY=1000000
# CONFIG_EXAMPLE_FFT_DEBUG is not set
# CONFIG_EXAMPLE_AUDIO_RAW_DEBUG is not set
# end of Example Configuration

#
# FreeRTOS
#
CONFIG_FREERTOS_UNICORE=y
CONFIG_FREERTOS_NO_AFFINITY=0x7FFFFFFF
CONFIG_FREERTOS_TICK_SUPPORT_SYSTIMER=y
CONFIG_FREERTOS_CORETIMER_SYSTIMER_LVL1=y
# CONFIG_FREERTOS_CORETIMER_SYSTIMER_LVL3 is not set
CONFIG_FREERTOS_SYSTICK_USES_SYSTIMER=y
CONFIG_FREERTOS_OPTIMIZED_SCHEDULER=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ASSERT_ON_UNTESTED_FUNCTION=y
# end of FreeRTOS
