CONFIG_ESP_CAPTURE_ENABLE_AUDIO=y
CONFIG_ESP_CAPTURE_ENABLE_VIDEO=y
CONFIG_ESP_CAPTURE_ENABLE_VIDEO_OVERLAY=y
CONFIG_PARTITION_TABLE_OFFSET=0x10000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_SYSTEM_PANIC_GDBSTUB=y
