menu "Example Configuration"

config PWM_RIGHT_OUTPUT_GPIO_NUM
    int "PWM Stream Right Output GPIO NUM"
    default 18
    help
        GPIO number to use for PWM stream driver.

config PWM_LEFT_OUTPUT_GPIO_NUM
    int "PWM Stream Left Output GPIO NUM"
    default 23
    help
        GPIO number to use for PWM stream driver.

endmenu
