# Enable SPIRAM
CONFIG_SPIRAM=y

# Enable FreeRTOS trace
CONFIG_FREERTOS_HZ=1000

# Use new I2C master
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

#
# ESP WDT CONFIG
#
# CONFIG_TASK_WDT_PANIC is not set
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_ESP_INT_WDT=n
