# Override some Spiffs defaults

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Increase default app partition size to accommodate DuerOS example
# by providing new partition table in "partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_APP_OFFSET=0x10000