CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_250M=y

#
# Camera Sensor Configuration
#
CONFIG_CAMERA_OV3660=y
CONFIG_CAMERA_OV3660_DVP_JPEG_640X480_25FPS=y
CONFIG_CAMERA_OV3660_DVP_DEFAULT_FMT_JPEG_640X480_25FPS=y

CONFIG_ESP_CAPTURE_ENABLE_VIDEO_DECODER=y
CONFIG_ESP_CAPTURE_ENABLE_VIDEO_OVERLAY=y
