#
# Audio HAL
#
CONFIG_ESP_LYRAT_V4_3_BOARD=y
CONFIG_ESP_LYRAT_V4_2_BOARD=
CONFIG_ESP_LYRATD_MSC_V2_1_BOARD=
CONFIG_ESP_LYRATD_MSC_V2_2_BOARD=
CONFIG_ESP_LYRAT_MINI_V1_1_BOARD=
CONFIG_ESP_LYRAT_SIGHT_V1_0_BOARD=