menu "OTA App Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config FIRMWARE_UPGRADE_URI
    string "firmware upgrade uri"
    default "https://192.168.0.3:8070/hello-world.bin"
    help
        URI of the firmware
        image.

config DATA_UPGRADE_URI
    string "data image upgrade uri"
    default "file://sdcard/flash_tone.bin"
    help
        URI of the data image
        image.

config DATA_PARTITION_LABEL
    string "data partition label"
    default "flash_tone"
    help
        data partition's label.

config FORCE_CHECK_FIRMWARE_VERSION_NUMBER
    bool "Forece check the firmware version number when OTA start"
    default n
    help
        If this option is set, mandatory check the firmware version number

endmenu
