CONFIG_ESP_CAPTURE_ENABLE_AUDIO=y
CONFIG_PARTITION_TABLE_OFFSET=0x10000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_AUDIO_CAPTURE_SERVICE_ENABLE_CODEC_SRC=y
CONFIG_ESP_AUDIO_CAPTURE_SERVICE_ENABLE_AEC_SRC=n
CONFIG_ESP_AUDIO_CAPTURE_SERVICE_ENABLE_AI_AUD_SRC=y
CONFIG_ESP_AUDIO_CAPTURE_SERVICE_PORT_NUM=1

CONFIG_SPIRAM=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_OFFSET=0x9000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
