menu "Example Configuration"

choice WIFI_SETTING_TYPE
    prompt "WiFi Setting type"
    default WIFI_STATIC_CONFIG
    help
        Select WiFi setting method

    config WIFI_STATIC_CONFIG
        bool "WiFi static configuration"

    config ESP_SMARTCONFIG
        bool "ESP smartconfig"

    config AIRKISS_ENCRYPT
        bool "Airkiss encrypt"

    config DUER_WIFI_CONFIG
        bool "Lightduer DIPB WiFi config"
        select BT_ENABLED
        select BT_BLE_42_FEATURES_SUPPORTED
endchoice

config WIFI_SSID
    string "WiFi SSID"
    depends on WIFI_STATIC_CONFIG
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    depends on WIFI_STATIC_CONFIG
    default "myssid"
    help
        WiFi password (WPA or WPA2) for the example to use.

        Can be left blank if the network has no security set.

config AIRKISS_APPID
    string "Airkiss APP ID"
    depends on AIRKISS_ENCRYPT
    default "gh_9e2cff3dfa51"
    help
        The airkiss application id.

config AIRKISS_DEVICEID
    string "Airkiss device ID"
    depends on AIRKISS_ENCRYPT
    default "122475"
    help
        The airkiss device id.

config DUER_AIRKISS_KEY
    string "DuerOS airkiss key"
    depends on AIRKISS_ENCRYPT
    default "Enter dueros aes key string"
    help
        The key used to encrypt ssid and password with AES method.

config DUER_CLIENT_ID
    string "Duer client id"
    depends on DUER_WIFI_CONFIG
    default "client id"
    help
        The duer client id.

config DUER_ECC_PUB_KEY
    string "Duer ECC public key"
    depends on DUER_WIFI_CONFIG
    default "ecc public key"
    help
        The key used to encrypt.

endmenu