menu "Audio HAL"

choice AUDIO_BOARD
    prompt "Audio board"
    default ESP_LYRAT_V4_3_BOARD
    help
        Select an audio board to use with the ESP-ADF

config ESP_LYRAT_V4_3_BOARD
    bool "ESP32-Lyrat V4.3"
config ESP_LYRAT_V4_2_BOARD
    bool "ESP32-Lyrat V4.2"
config ESP_AI_AUDIO_V1_0_BOARD
    bool "AI-ESP32-A1S-V1.0"   
endchoice

endmenu
