menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "myssid"
    help
        WiFi password (WPA or WPA2) for the example to use.

        Can be left blank if the network has no security set.

choice WIFI_SETTING_TYPE
    prompt "WiFi Setting type"
    default ESP_BLUFI_PROVISIONING
    help
        Select wifi setting method

config ESP_BLUFI_PROVISIONING
    bool "Enable esp blufi provisioning"

config ESP_SMARTCONFIG
    bool "Enable esp smartconfig"

config AIRKISS_ENCRYPT
    bool "Enable airkiss encrypt"

config AIRKISS_APPID
    string "Airkiss APP ID"
    depends on AIRKISS_ENCRYPT
    default "gh_9e2cff3dfa51"
    help
        The airkiss application id.

config AIRKISS_DEVICEID
    string "Airkiss device ID"
    depends on AIRKISS_ENCRYPT
    default "122475"
    help
        The airkiss device id.

config DUER_AIRKISS_KEY
    string "DuerOS airkiss key"
    depends on AIRKISS_ENCRYPT
    default "Enter dueros aes key string"
    help
        The key used to encrypt ssid and password with AES method.

endchoice

endmenu
