# SPDX-FileCopyrightText: 2026 Espressif Systems (Shanghai) CO., LTD
# SPDX-License-Identifier: LicenseRef-Espressif-Modified-MIT

CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_ESP_INT_WDT=n
CONFIG_SPIRAM=y

CONFIG_ESP_MEDIA_DUMMY_SERVICE_SRC_SUPPORT=y
CONFIG_ESP_MEDIA_DUMMY_SERVICE_SINK_SUPPORT=y
CONFIG_ESP_RTSP_SERVICE_SRC_SUPPORT=y
CONFIG_ESP_RTSP_SERVICE_SINK_SUPPORT=y
CONFIG_ESP_RTSP_SERVICE_SERVER_SUPPORT=y
CONFIG_LWIP_MAX_UDP_PCBS=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64

CONFIG_ESP_MCP_ENABLE=y
CONFIG_ESP_MCP_TRANSPORT_UART=y
CONFIG_ESP_RTSP_SERVICE_MCP_ENABLE=y
CONFIG_ESP_MEDIA_SERVICE_MCP_ENABLE=y

CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
