# SPDX-FileCopyrightText: 2026 Espressif Systems (Shanghai) CO., LTD
# SPDX-License-Identifier: LicenseRef-Espressif-Modified-MIT

CONFIG_WIFI_SERVICE_PROV_HTTP_ENABLE=y
CONFIG_WIFI_SERVICE_PROV_HTTP_DEFAULT_WEBUI_ENABLE=y
