menu "RTSP service example"

    config RTSP_EXAMPLE_WIFI_SSID
        string "WiFi SSID"
        default "myssid"

    config RTSP_EXAMPLE_WIFI_PASSWORD
        string "WiFi password"
        default "mypassword"

    config RTSP_EXAMPLE_PUSH_URL
        string "Pusher RTSP URL"
        default "rtsp://192.168.1.10:8554/live"

    config RTSP_EXAMPLE_PULL_URL
        string "Puller RTSP URL"
        default "rtsp://192.168.1.10:8554/live"

    config RTSP_EXAMPLE_SERVER_URL
        string "Local server URL"
        default "rtsp://0.0.0.0:554/live"

    if ESP_RTSP_SERVICE_MCP_ENABLE && ESP_MCP_TRANSPORT_UART

    menu "MCP UART pins"

        config RTSP_MCP_UART_PORT
            int "MCP UART port number"
            range 0 2
            default 1

        config RTSP_MCP_UART_TX_IO
            int "MCP UART TX GPIO"
            range 0 48
            default 21

        config RTSP_MCP_UART_RX_IO
            int "MCP UART RX GPIO"
            range 0 48
            default 22

        config RTSP_MCP_UART_BAUD
            int "MCP UART baud rate"
            default 115200

    endmenu

    endif

endmenu
