CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_AUDIO_ANALYZER_ENABLE_EMBED_FLASH=y
CONFIG_GMF_AI_AUDIO_INIT_AFE=y
CONFIG_GMF_AI_AUDIO_AFE_VAD_ENABLE=n

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=y

CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_LWIP_IRAM_OPTIMIZATION=y

CONFIG_GMF_AUDIO_CODEC_DECODER_TYPE_FLAC=y
CONFIG_GMF_AUDIO_CODEC_ENCODER_TYPE_PCM=y
