# Serial flash
CONFIG_ESPTOOLPY_PORT="/dev/ttyUSB0"
CONFIG_ESPTOOLPY_BAUD_OTHER=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=1497600
CONFIG_ESPTOOLPY_COMPRESSED=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#
# UDP
#
CONFIG_LWIP_MAX_UDP_PCBS=64
CONFIG_UDP_RECVMBOX_SIZE=64

# Increase default app partition size to accommodate console example
# by providing new partition table in "partitions_voip_example.csv"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_voip_example.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_PARTITION_TABLE_FILENAME="partitions_voip_example.csv"
CONFIG_APP_OFFSET=0x10000
