# SPDX-FileCopyrightText: 2026 Espressif Systems (Shanghai) CO., LTD
# SPDX-License-Identifier: LicenseRef-Espressif-Modified-MIT
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL=y
CONFIG_ESP_MEDIA_DUMMY_SERVICE_SRC_SUPPORT=y
CONFIG_ESP_MEDIA_DUMMY_SERVICE_SINK_SUPPORT=y
CONFIG_ESP_RTMP_SERVICE_SRC_SUPPORT=y
CONFIG_ESP_RTMP_SERVICE_SINK_SUPPORT=y
CONFIG_ESP_RTMP_SERVICE_SERVER_SUPPORT=y
