CONFIG_AUDIO_PLAYER_SERVICE_MCP_ENABLE=y
CONFIG_ESP_MCP_ENABLE=y
CONFIG_ESP_MCP_TRANSPORT_HTTP=y

CONFIG_EXAMPLE_WIFI_MODE_SOFTAP=y
CONFIG_EXAMPLE_WIFI_SSID="esp-audio-mcp"
CONFIG_EXAMPLE_WIFI_PASSWORD=""
CONFIG_EXAMPLE_MCP_HTTP_PORT=8080
CONFIG_EXAMPLE_MCP_HTTP_URI="/mcp"

CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_TASK_WDT_INIT=n

CONFIG_ESP_PLAYER_ENABLE_AUDIO=y
CONFIG_ESP_PLAYER_ENABLE_VIDEO=n
CONFIG_ESP_PLAYER_ENABLE_HLS_IO=n

CONFIG_SPIRAM=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_OFFSET=0x9000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
