#
# ESP System Settings
#
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=n
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_ESP32P4_REV_MIN_301=y

#
# PSRAM config
#
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_SPIRAM_SPEED_250M=y

EXAMPLE_CONNECT_ETHERNET=n

#
# Camera Sensor Configuration
#
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_SC2336_MIPI_DEFAULT_FMT_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1280X720_30FPS=n
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y
